.index-cases {
  padding-left: 20px;

  @include media-xs {
    padding-left: calc(50vw - 268px);
  }

  @include media-sm {
    padding-left: calc(50vw - 324px);
  }

  @include media-md {
    padding-left: calc(50vw - 480px);
  }

  @include media-lg {
    padding-left: calc(50vw - 630px);
  }
}

.cases {
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  padding-bottom: 40px;

  @include media-md {
    padding-bottom: 0;
    height: 576px;
  }

  @include media-lg {
    height: 751px;
  }

  &__img {
    transition: min-height 0.2s ease-in-out, padding 0.2s ease-in-out;
    cursor: pointer;
    min-width: 225px;
    height: 280px;
    margin-bottom: 15px;

    @include media-sm {
      height: 335px;
      margin-bottom: 20px;
    }

    @include media-md {
      padding-top: 46px;
      height: 327px;
    }

    @include media-lg {
      padding-top: 60px;
      height: 430px;
    }
  }

  &__desc {
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;

    @include media-md {
      font-size: 18px;
    }

    @include media-lg {
      font-size: 20px;
    }
  }

  .swiper-slide-active {
    .cases__img {
      @include media-md {
        padding-top: 0;
        height: 468px;
      }

      @include media-lg {
        height: 615px;
      }
    }
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
  }
}

.swiper-scrollbar {
  position: relative;
  overflow: visible;
  height: 1px;
  background-color: var(--dark-color);
  margin-top: 15px;

  &-drag {
    position: absolute;
    top: -15px;
    height: 30px;
    width: 30px;
    background-color: var(--light-color);
    border: 1px solid var(--dark-color);
    border-radius: 50%;
    cursor: pointer;
  }

  &-wrapper {
    padding-right: 20px;

    @include media-xs {
      padding-right: calc(50vw - 268px);
    }

    @include media-sm {
      padding-right: calc(50vw - 324px);
    }

    @include media-md {
      padding-right: calc(50vw - 480px);
    }

    @include media-lg {
      padding-right: calc(50vw - 630px);
    }
  }
}
