.section {
  padding-top: 40px;
  padding-bottom: 40px;

  @include media-sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include media-md {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  @include media-lg {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  &__title {
    @include font($ff: "Arsenal", $fw: 400, $fs: 24px, $lh: 1.25);
    margin-bottom: 40px;
    width: 100%;

    @include media-sm {
      margin-bottom: 50px;
      line-height: 1.2;
    }

    @include media-md {
      font-size: 36px;
      margin-bottom: 70px;
    }

    @include media-lg {
      font-size: 40px;
    }
  }
}
