.footer-contacts {
  &__address,
  &__tel {
    @include font($fw: 400, $fs: 14px, $lh: 1.5);
    text-align: center;
    max-width: 231px;

    @include media-sm {
      line-height: 1.4;
    }
  }

  &__tel {
    display: inline-block;
    margin-bottom: 20px;

    @include media-md {
      margin-bottom: 47px;
    }

    @include media-lg {
      margin-bottom: 16px;
    }
  }

  @include media-sm {
    &__address {
      text-align: left;
    }
  }

  @include media-md {
    &__address {
      max-width: 281px;
      text-align: right;
    }
  }
}
