.form {
  @include flex($fw: wrap);
  width: 100%;

  @include media-md {
    max-width: 633px;
  }

  @include media-lg {
    max-width: 833px;
  }

  &__label {
    @include flex($fd: column, $ai: flex-start);
    width: 100%;

    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 25px;
      padding-bottom: 7px;
      border-bottom: 1px solid var(--dark-opacity-color);
    }

    &:nth-last-child(3) {
      margin-bottom: 15px;
      padding-bottom: 7px;
      border-bottom: 1px solid var(--dark-opacity-color);
    }

    @include media-sm {
      flex-direction: row;

      &:not(:last-child) {
        margin-bottom: 20px;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--dark-opacity-color);
      }
    }

    @include media-md {
      &:nth-last-child(3) {
        margin-bottom: 30px;
      }
    }

    @include media-lg {
      &:not(:last-child) {
        margin-bottom: 18px;
        padding-bottom: 16px;
      }
    }

    &--message {
      width: 100%;
      @include media-sm {
        width: 78%;
      }
      @include media-lg {
        width: 82%;
      }
    }
  }

  &__input,
  &__textarea {
    width: 100%;
    border: none;
    resize: none;
    outline: none;
  }

  &__input-text {
    @include font($fw: 400, $fs: 14px, $lh: 1.5);
    text-transform: uppercase;
    margin-bottom: 10px;

    @include media-sm {
      line-height: 23px;
      min-width: 168px;
      margin-bottom: 0;
    }

    @include media-lg {
      min-width: 240px;
      font-size: 16px;
    }
  }

  &-uploadfile {
    @include font($fw: 400, $fs: 14px, $lh: 1.5);
    flex-direction: row;
    width: 50%;
    padding-bottom: 30px;
    position: relative;
    cursor: pointer;

    @include media-sm {
      line-height: 1.4;
      width: 22%;

      &:not(:last-child) {
        padding-bottom: 22px;
      }
    }

    @include media-md {
      &:not(:last-child) {
        padding-bottom: 10px;
      }

      justify-content: flex-end;
    }

    @include media-lg {
      &:not(:last-child) {
        padding-bottom: 18px;
      }
      width: 18%;
    }

    &-input {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    &-text,
    svg {
      transition: color 0.3s ease-in-out;
      opacity: 0.7;
    }

    &:hover {
      .form-uploadfile-text,
      svg {
        color: var(--hover-color);
      }
    }
  }

  &-policy {
    @include flex($fd: column-reverse);

    @include media-sm {
      flex-direction: column;
    }

    @include media-md {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__text {
      @include font($fw: 400, $fs: 12px, $lh: 1.3);
      max-width: 230px;
      opacity: 0.7;

      @include media-sm {
        font-size: 14px;
        line-height: 1.4;
        max-width: 100%;
        align-self: flex-start;
        margin-bottom: 40px;
      }

      @include media-md {
        max-width: 302px;
      }
    }
  }

  &__btn {
    margin-bottom: 10px;

    @include media-sm {
      margin-bottom: 0;
    }
  }
}
