// colors
:root {
  // base
  --font-family: "Source Sans Pro", sans-serif;
  // --content-width: 1170px;
  // --container-offset: 15px;
  // --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --dark-color: #33342f;
  --hover-color: #396e8b;
}

// MEDIA
$v-xs: 35.999rem;
$v-sm: 47.999rem;
$v-md: 63.999rem;
$v-lg: 79.999rem;
