// colors
:root {
  // base
  --font-family: "Source Sans Pro", sans-serif;

  // colors
  --light-color: #fff;
  --dark-color: #33342f;
  --secondary-color: #92866c;
  --hover-color: #396e8b;
  --dark-opacity-color: rgba(51, 52, 47, 0.5);
}

// MEDIA
$v-xs: 35.999rem;
$v-sm: 47.999rem;
$v-md: 63.999rem;
$v-lg: 79.999rem;
